.video {
background-color: #2240537e;
margin-top: 200px;
}
.title-video {
    margin-left: 30px;
    padding-top: 34px;
}
.gallery {
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
    margin-top: 120px;
    padding-bottom: 40px;
}
.gallery img {
  height: auto; 
  display: inline-block; 
  margin-left: 20px; 
}

.gallery::-webkit-scrollbar {
    display: none; 
  }